body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nas a:hover{
  color:darkgrey;
}

.nav-link.active{
  transition: 0.25s ease;
  font-weight: bold;
  border-bottom: 1px solid;
}

.res img{
  transition: 0.25s ease;
}

.res:hover img{
  transform: scale(1.05);
  z-index: 1;

}

.navRes{
  transition: 0.25s ease;
}
.navRes:hover{
  transform: scale(1.05);
  z-index: 1;
}

.bgImage{
  background-size: cover;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  /* filter: blur(1px); */
  min-height: 40vh;
  background-position: center;
}

.color-overlay{
  /* position: absolute; */
  width: 10vh;
  height: 100%;
}

h1{
  background-color: rgba(0,0,0,.2);
  font-size: 4rem;
  font-weight: bold;
}

html{
  scroll-behavior: smooth;
}